@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  background: #1a202c;
}

body {
  background: #1a202c;
}

.nav-link-active svg {
  fill: #60a5fa;
  stroke: #60a5fa;
  stroke-width: 0;
}

.nav-link-inactive .home-icon {
  fill: none;
}

.nav-links {
  gap: 4rem;
}

.primary-user-card {
  width: 18rem;
  position: sticky;
  top: 100px;
  overflow: overlay;
}

.home-main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 550px) {
  .nav-links {
    gap: 1.5rem;
    margin-right: 2em;
  }
}
