@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #1a202c;
}

body {
  background: #1a202c;
  min-height: 100vh;
}

.remove-scroll-sidebar::-webkit-scrollbar {
  width: 0 !important;
}

.nav-link-active svg {
  fill: #60a5fa;
  stroke: #60a5fa;
  stroke-width: 0;
}

.nav-link-inactive .home-icon {
  fill: none;
}

.nav-links {
  gap: 4rem;
}

.primary-user-card {
  width: 18rem;
  position: sticky;
  top: 100px;
}

.home-main-content {
  flex: 1;
}

.sidebar {
  max-height: 90vh;
  height: 90vh;
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 4px;
  }
}

@media screen and (max-width: 550px) {
  .nav-links {
    gap: 1.5rem;
    margin-right: 2em;
  }
}
