@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

body {
  background: #1a202c;
  min-height: 100vh;
}

.remove-scroll-sidebar::-webkit-scrollbar {
  width: 0 !important;
}

.nav-link-active svg {
  fill: #60a5fa;
  stroke: #60a5fa;
  stroke-width: 0;
}

.nav-link-inactive .home-icon {
  fill: none;
}

.nav-links {
  gap: 4rem;
}

.primary-user-card,
.home-right {
  position: sticky;
  top: 100px;
}

.home-main-content {
  flex: 1;
}

.comma:not(:first-child) {
  margin-left: -0.3em;
}

.comma:first-child:empty ~ .comma:not(:empty) {
  margin-left: 0;
}

.comma:first-child:empty ~ .comma:not(:empty) ~ .comma:not(:empty) {
  margin-left: -0.3em;
}

.comma:empty {
  display: none;
}

.comma:not(:first-child):before {
  content: ', ';
}

.comma:empty + .comma:not(:empty):before {
  content: '';
}

.comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
  content: ', ';
}

.loading-screen::before {
  background: url('https://e1.pxfuel.com/desktop-wallpaper/225/625/desktop-wallpaper-social-media-icons-themed-border-on-a-white-backgrounds-vector-social-media-icons.jpg')
    no-repeat center center fixed;
  background-size: cover;
}

.loading-screen {
  position: relative;
  background: white;
  font-size: 20px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 40;
  font-weight: Arial Sans-Serif;
}

.loading-screen::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(22px);
  z-index: -1;
}
.club-server-menu {
  max-width: 300px;
}

@media screen and (max-width: 550px) {
  .nav-links {
    gap: 1.5rem;
    margin-right: 2em;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
